<label for="title">
	<f:translate key="tx_t3rating_domain_model_option.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_t3rating_domain_model_option.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="hint">
	<f:translate key="tx_t3rating_domain_model_option.hint" />
</label><br />
	<f:form.textarea property="hint" cols="40" rows="15" /><br />
<label for="collections">
	<f:translate key="tx_t3rating_domain_model_option.collections" />
</label><br />
	<f:form.textfield property="collections" /><br />