<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Choice</h1>

<f:flashMessages />

<table  class="tx_t3rating" >
	<tr>
		<th><f:translate key="tx_t3rating_domain_model_choice.title" /></th>
		<th><f:translate key="tx_t3rating_domain_model_choice.description" /></th>
		<th><f:translate key="tx_t3rating_domain_model_choice.hint" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{choices}" as="choice">
		<tr>
			<td><f:link.action action="show" arguments="{choice : choice}"> {choice.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{choice : choice}"> {choice.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{choice : choice}"> {choice.hint}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{choice : choice}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{choice : choice}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Choice</f:link.action>
</f:section>