<label for="title">
	<f:translate key="tx_t3rating_domain_model_voting.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="type">
	<f:translate key="tx_t3rating_domain_model_voting.type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="type" /><br />
<label for="votesCount">
	<f:translate key="tx_t3rating_domain_model_voting.votes_count" />
</label><br />
	<f:form.textfield property="votesCount" /><br />
<label for="description">
	<f:translate key="tx_t3rating_domain_model_voting.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="teaser">
	<f:translate key="tx_t3rating_domain_model_voting.teaser" />
</label><br />
	<f:form.textarea property="teaser" cols="40" rows="15" /><br />
<label for="image">
	<f:translate key="tx_t3rating_domain_model_voting.image" />
</label><br />
	<f:form.upload property="image" /><br />