<table class="tx-t3rating" >
	<tr>
		<td>
			<f:translate key="tx_t3rating_domain_model_voting.title" />
		</td>
		<td>
			{voting.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3rating_domain_model_voting.type" />
		</td>
		<td>
			{voting.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3rating_domain_model_voting.votes_count" />
		</td>
		<td>
			{voting.votesCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3rating_domain_model_voting.description" />
		</td>
		<td>
			{voting.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3rating_domain_model_voting.teaser" />
		</td>
		<td>
			{voting.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3rating_domain_model_voting.image" />
		</td>
		<td>
			{voting.image}
		</td>
	</tr>
</table>